:root {
    /*--color-last-red: #2a2a2a;*/
    --color-last-red: #bf0008;
    --color-pice-ivory: #efdbc5;
    --color-wine-red: #7d0000;
    --color-dark-wind-red: #390000;
    --color-black: #000000;
    --color-grey: #808080;
    --color-white: #ffffff;
}