:root {
    --color-last-red: #cb6d6d;
    /*--color-last-red: #bf0008;*/
    --color-pice-ivory: #efdbc5;
    --color-wine-red: #7d0000;
    --color-black: #000000;
    --color-grey: #808080;
    --color-white: #ffffff;
}