header {
    width: 100%;
    height: 74px;
    background-color: var(--color-last-red);
    border-bottom: 4px solid var(--color-pice-ivory);
    position: absolute;
    /* instead of border-bottom, use box-shadow to create a shadow effect */
}

header > div {
    width: 1920px;
    margin: 0 auto;
    display: block;
}

.header-btn:hover {
    cursor: pointer;
}

div.background-icon {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 50%;
    translate: -50% 0;
}
div.icon-wrap {
    top: 208px;
    right: -36px;
    position: absolute;
}

div.first-page {
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-last-red);
}

div.second-page {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-pice-ivory);
}

main div > svg {
    margin: 0 auto;
}

div.slide {
    width: 100vw;
    height: 120px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: var(--color-pice-ivory);
    background: var(--color-black);
}

div.slide > div.track {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-25%);
    }
}