header {
    position: absolute;
    top: 0;
}
div.header-content {
    z-index: 15;
    position: relative;
}
#hamburger-menu-btn {
    position: absolute;
    top: 28px;
    right: 24px;
    cursor: pointer;
}
.nav-menu {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: start;
    background: rgba(0, 0, 0, 0.90);
}
.nav-menu > * {
    margin-left: 40px;
    /*margin-top: 100px;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

main {
    margin: 0 auto;
}
#first-page {
    padding-top: 80px;
}
div.headline {
    margin-left: 24px;
}
div.content {
    margin: 0 auto;
    display: block;
}
footer {
    background-color: var(--color-black);
}
.page {
    /*min-height: 600px;*/
    background-color: var(--color-pice-ivory);
    height: fit-content;
    display: block;
    position: relative;
    /*padding-top: 80px;*/
}

div.slide {
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: var(--color-pice-ivory);
    background: var(--color-black);
}

div.slide > div.track {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

:root {
    --page-scale: calc(100vw / 375px);
}
body {
    zoom: calc(var(--page-scale));
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-25%);
    }
}